language = "csharp"
run = "mcs -out:main.exe 'Projeto/MainClass.cs' 'Projeto/livro.cs' 'Projeto/genero.cs' 'Projeto/ngenero.cs' 'Projeto/nlivro.cs' 'Projeto/venda.cs' 'Projeto/cliente.cs' 'Projeto/ncliente.cs' 'Projeto/vendalivro.cs'; mono main.exe"